{
  "processes": [{
      "url": "/arthurdufour.com",
      "cmd": "cd /home/arthur/arthurdufour.com && git pull && pm2 restart arthurdufour.com",
      "secret": "A_SECRET_PASSWORD"
    },
    {
      "url": "/another-project",
      "cmd": "cd /home/john/nodejs/myapi && git pull && pm2 restart myapi",
      "secret": "AN_OTHER_SECRET_PASSWORD"
    }
  ]
}
